{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container row">
		
		<a class="navbar-brand col-md-2" href="{% url 'home' %}">
			<img src="{% static 'img/logo.png' %}" height="30" class="d-inline-block align-top" alt="">
			CompareIt
		</a>
		
		<div class="col-md-10">
			<form method="GET" class="form-inline my-lg-0 row">
				<input class="form-control col-md-9" type="text" name="q" placeholder="Search for Products, Brands and more" aria-label="Search">
				<input class="btn btn-success ml-1 col-md-2 float-right" type="submit" value="Search"></input>
			</form>
		</div>
	</div>
</nav>