{% extends 'base.html' %} {% block title %}{{title}}{% endblock %} {% block content %}

<div class="uk-grid-column-small uk-grid-row-large uk-child-width-1-4@s uk-text-center" uk-grid>
    {% for value in data %}
    <div>
        <a href="{% url 'product' id=value.id %}" class="">
            <div class="uk-card uk-card-small uk-card-default">
                <div class="uk-card-badge uk-label">
                    {% for key,value in value.origin.items %} {% if key == "name" %} {{ value.title }} {% endif %} {% endfor %}</div>
                <div class="uk-card-media-top">
                    <img src="{{value.image}}" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">{{value.title}}</h3>
                    <p><strike>Rs.{{value.price.max_price}}</strike> <span>Rs.{{value.price.min_price}}</span></p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}