{% load static %}
<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">

        <a class="uk-navbar-item uk-logo" href="#">Logo</a>

        <div class="uk-navbar-item">

            <form method="GET" class="uk-search uk-search-default">
                <a href="" uk-search-icon></a>
                <input class="uk-search-input" type="text" placeholder="Search for Products, Brands and more" name="q" value='' type="search" placeholder="" />
            </form>
        </div>

    </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container row">
		
		<a class="navbar-brand col-md-2" href="{% url 'home' %}">
			CompareIt
		</a>
		
		<div class="col-md-10">
			<form method="GET" class="row">
				<input class="navbar-input col-xs-11 col-md-11" type="text" placeholder="Search for Products, Brands and more" name="q" value=''>
				<button class="navbar-button col-xs-1 col-md-1" type="submit">
				<i class="fa fa-search"></i>
				</button>
			</form>
		</div>
	</div>
</nav> -->