{% load static %}
<style type="text/css" media="screen">
.navbar-input {padding: 11px 16px;border-radius: 2px 0 0 2px;border: 0 none;outline: 0 none;    font-size: 15px; width: auto;}
.navbar-button {background-color: #ffe11b;border: 1px solid #ffe11b;border-radius: 0 2px 2px 0;    color: #565656;padding: 10px 0;width:43px; height: 43px;cursor: pointer;}
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container row">
		
		<a class="navbar-brand col-md-2" href="{% url 'home' %}">
			CompareIt
		</a>
		
		<div class="col-md-10">
			<form method="GET" class="row">
				<input class="navbar-input col-xs-11 col-md-11" type="text" placeholder="Search for Products, Brands and more" name="q" value=''>
				<button class="navbar-button col-xs-1 col-md-1" type="submit">
				<i class="fa fa-search"></i>
				</button>
			</form>
		</div>
	</div>
</nav>