{% extends 'base.html' %} {% block title %}{{title}}{% endblock %}

{% block content %}
	
	<style type="text/css">
	.form-control-borderless {
	border: none;
	}
	
	.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
	border: none;
	outline: none;
	box-shadow: none;
	}
	</style>
	
	<div class="container">
		<br/>
		<div class="row justify-content-center">
			<div class="col-12 col-md-10 col-lg-8">
				<form method="GET" class="card card-sm">
					<div class="card-body row no-gutters align-items-center">
						<div class="col-auto">
							<i class="fas fa-search h4 text-body"></i>
						</div>
						<!--end of col-->
						<div class="col">
							<input class="form-control form-control-lg form-control-borderless" type="text" name='q' placeholder="Search for Products, Brands and more">
						</div>
						<!--end of col-->
						<div class="col-auto">
							<input class="btn btn-lg btn-success" type="submit" value="Search">
						</div>
						<!--end of col-->
					</div>
				</form>
			</div>
			<!--end of col-->
		</div>
	</div>
	
	
{% endblock %}