{% extends 'base.html' %} {% block title %}{{title}}{% endblock %} {% block content %}


<div uk-grid>
    <div class="uk-width-2-3">
        <div class="uk-card uk-card-default uk-card-body">
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>
            <ul class="uk-slideshow-items">
                {% for option in item.options %}
                <li>
                    <img src="{{option.image}}" alt="">
                </li>
                {% endfor %}
               
            </ul>
        
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
        </div>
        <div uk-grid>
        {% for option in item.options %}
            <div class="uk-width-1-6">
                <a data-target="#pic-{{forloop.counter}} " data-toggle="tab "><img src="{{option.image}} " alt=" "></a>
			</div>
                    
				{% endfor %}
        </div>
    </div>
    </div>
    <div class="uk-width-1-3">
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="product-title ">{{item.title}}</h3>
			<hr width="100% ">
			{% for option in item.options %}
				<div style="margin-top: 8px;">
					<a href="{{option.url}} " class="uk-button uk-button-primary" width="50% ">
                        <div style="display:flex;justify-content: center;align-items: center;">
                            <img src='{% for key,value in item.origin.items %} {% if key == "logo" %} {{ value }} {% endif %} {% endfor %}' width="50" alt=" ">		
                            <p style="margin-right: 8px;">Price: Rs. {{option.price.marking_price}} - {{option.price.selling_price}}</p>
                        </div>
						
					</a>
				</div>
			{% endfor %}
        </div>
    </div>
</div>


{% endblock %}